<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="profile:basic-profiles:battery-low">
		<parameter name="threshold" type="integer" min="0" max="100" step="1">
			<label>Threshold</label>
			<description>Triggers ON if value is below threshold.</description>
			<default>10</default>
		</parameter>
	</config-description>

	<config-description uri="profile:basic-profiles:round">
		<parameter name="scale" type="integer" min="0" max="16" required="true">
			<label>Scale</label>
			<description>Scale (non-negative number) to be applied on the state.</description>
		</parameter>
		<parameter name="mode" type="text">
			<label>Rounding Mode</label>
			<description>Rounding mode to be used (e.g. "UP", "DOWN", "CEILING", "FLOOR", "HALF_UP" or "HALF_DOWN").
			</description>
			<default>HALF_UP</default>
			<options>
				<option value="UP">UP</option>
				<option value="DOWN">DOWN</option>
				<option value="CEILING">CEILING</option>
				<option value="FLOOR">FLOOR</option>
				<option value="HALF_UP">HALF_UP</option>
				<option value="HALF_DOWN">HALF_DOWN</option>
			</options>
		</parameter>
	</config-description>

	<config-description uri="profile:basic-profiles:to-percent">
		<parameter name="min" type="text" required="true">
			<label>Min Value</label>
			<description>Maps to 0% if value is equal to or less than this value (plain number or number with unit).</description>
		</parameter>
		<parameter name="max" type="text" required="true">
			<label>Max Value</label>
			<description>Maps to 100% if value is equal to or greater than this value (plain number or number with unit).</description>
		</parameter>
	</config-description>

	<config-description uri="profile:basic-profiles:toggle-player">
		<parameter name="events" type="text" required="true" multiple="true">
			<label>Events</label>
			<description>Comma separated list of events to which the profile should listen.</description>
		</parameter>
	</config-description>

	<config-description uri="profile:basic-profiles:toggle-rollershutter">
		<parameter name="events" type="text" required="true" multiple="true">
			<label>Events</label>
			<description>Comma separated list of events on which the profile should listen.</description>
		</parameter>
	</config-description>

	<config-description uri="profile:basic-profiles:toggle-switch">
		<parameter name="events" type="text" required="true" multiple="true">
			<label>Events</label>
			<description>Comma separated list of events on which the profile should listen.</description>
		</parameter>
	</config-description>

	<config-description uri="profile:basic-profiles:generic-command">
		<parameter name="events" type="text" required="true" multiple="true">
			<label>Events</label>
			<description>Comma separated list of events to which the profile should listen.</description>
		</parameter>
		<parameter name="command" type="text" required="true">
			<label>Command</label>
			<description>Command which should be sent if the event is triggered.</description>
			<options>
				<option value="INCREASE">INCREASE</option>
				<option value="DECREASE">DECREASE</option>
				<option value="NEXT">NEXT</option>
				<option value="PREVIOUS">PREVIOUS</option>
				<option value="ON">ON</option>
				<option value="OFF">OFF</option>
				<option value="PLAY">PLAY</option>
				<option value="PAUSE">PAUSE</option>
				<option value="REWIND">REWIND</option>
				<option value="FASTFORWARD">FASTFORWARD</option>
				<option value="STOP">STOP</option>
				<option value="MOVE">MOVE</option>
				<option value="UP">UP</option>
				<option value="DOWN">DOWN</option>
			</options>
		</parameter>
	</config-description>

	<config-description uri="profile:deconz:repeated-command">
		<parameter name="command" type="text" required="true">
			<label>Command</label>
			<description>Command which should be sent on each iteration.</description>
			<options>
				<option value="INCREASE">INCREASE</option>
				<option value="DECREASE">DECREASE</option>
			</options>
		</parameter>
		<parameter name="delay" type="integer" unit="ms" min="50" step="1">
			<label>Delay</label>
			<description>Delay between two iterations.</description>
			<default>500</default>
		</parameter>
		<parameter name="iterations" type="integer" min="1" step="1">
			<label>Maximum Iterations</label>
			<description>Maximum number of iterations.</description>
			<default>10</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
