body {
    background-color: var(--repo-div-background-color-light);

    font-family: -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica, Arial, sans-serif;
    font-size: 14px;

    line-height: 1.5;
    color: #222222;

    --repo-div-background-color-dark: #c0c0c0;
    --repo-div-background-color-light: lightgrey;
    --repo-border: 1px solid black;
    --repo-border-radius: 5px;

    margin: 0;
    padding: 0;
}

.content-div {
    background-color: var(--repo-div-background-color-dark);
    margin: 5px;
}

.header {
    font-size: 2em;
    padding: .2em;
    border: var(--repo-border);
    border-radius: var(--repo-border-radius);
}

.main {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

.footer {
    text-align: right;
    padding: .2em;
    border: var(--repo-border);
    border-radius: var(--repo-border-radius);
}

select, select option {
    background: var(--repo-div-background-color-light);
    font-size: 1em;
}

.table {
    display: table;
    border-spacing: 0;
    /* border-collapse: collapse; */
}


.table-row {
    display: table-row;
}

.table-repo-versions, .table-repo-section {
    background-color: var(--repo-div-background-color-dark);
    display: table-cell;
    padding: .3em;
    border: var(--repo-border);
}

.table-spacer {
    display: table-row;
    height:0.2em;
}

.table-cell-spacer {
    display: table-cell;
    border: 0;
    height: 0.3em;
    background-color: var(--repo-div-background-color-light);
}

.table-repo-section {
    font-weight: bold;
}

.checkbox-input-label {
    width: 10em;
    display: inline-block;
}

.checkbox-input-label {
    width: 12em;
    display: inline-block;
}

#bundle-version {
    float: right;
}

#apply-button {
    float: right;
    font-size: inherit;
    background-color: var(--repo-div-background-color-light);
    border-radius: var(--repo-border-radius);
}

.table-repo-section {
    border-top-left-radius: var(--repo-border-radius);
    border-bottom-left-radius: var(--repo-border-radius);
    border-right: 0;
}

.table-repo-versions {
    border-top-right-radius: var(--repo-border-radius);
    border-bottom-right-radius: var(--repo-border-radius);
}
